html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  margin: 0;
  overflow: overlay;
}

.cabecera-de-pagina {
  background-color: #42bfdd;
}

.titulo-de-pagina {
  margin: 0;
  text-align: center;
  padding: 1rem 0;
  color: #f0f8ff;
}

.barra-nav {
  margin: 0;
  padding: 1rem 0;
  background-color: #42bfdd;
  display: flex;
  place-content: space-evenly;
  position: sticky;
  top: 0;
}

.nav-link {
  font-size: large;
  font-weight: bold;
  color: blanchedalmond;
}

.retorno {
  position: relative;
  top: -50px;
}

.contenido-principal {
  margin: 1rem;
}

.cabecera-seccion {
  text-align: center;
  color: #3c4f76;
  text-transform: uppercase;
}

.texto-cabecera {
  padding: 1rem 20% 1rem 25%;
  font-size: 16px;
  color: #4a4a4a;
}

.seccion-de-articulos {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  column-gap: 2.5rem;
  grid-template-rows: auto;
}

.articulo {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px #4a4a4a7a;
  border-radius: 15px;
  justify-self: center;
}

.cabecera-articulo {
  color: #3c4f76;
  text-transform: uppercase;
  text-decoration: underline;
}

.texto-descripcion {
  color: #4a4a4a;
}

.cabecera-ingredientes {
  color: #3c4f76;
}

.lista-de-ingredientes {
  list-style-type: circle;
}

.seccion-valoracion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabedera-valoracion {
  color: #3c4f76;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
}

.tabla-de-valoracion {
  background-color: #4a4a4a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabla-de-valoracion thead tr {
  background-color: #e5d4ce;
}

.tabla-de-valoracion thead tr td {
  padding: 10px;
}

.tabla-de-valoracion thead tr td:first-child {
  border-top-left-radius: 5px;
}

.tabla-de-valoracion thead tr td:last-child {
  border-top-right-radius: 5px;
}

.tabla-de-valoracion tbody tr {
  background-color: #fbfbfb;
  text-align: center;
}

.tabla-de-valoracion tbody tr td {
  padding: 10px;
}

.seccion-acerca-de {
  background-color: #1c1f33;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.text-acerca-de,
.cabecera-seccion-acerca-de {
  color: #f0f8ff;
  padding: 0 1rem;
  max-width: 500px;
}

.pie-de-pagina {
  background-color: #88d498;
  color: #094d19;
  padding: 1rem;
  display: flex;
  place-content: space-around;
}

.pie-de-pagina p {
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 670px) {
  .seccion-de-articulos {
    grid-template-columns: 1fr;
  }
}
